html body div.container-fluid {
  overflow-x: hidden;
  position: relative;
  display: flex;
}
html body div.container-fluid div.row main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  min-height: 100vh;
}
html body div.container-fluid div.row footer {
  text-align: center;
  background: #6e0ea2;
  height: 50px;
  position: absolute;
  bottom: 0;
}
html body div.container-fluid div.row footer h6 {
  color: aliceblue;
}

@media screen and (min-width: 992px) {
  div.container-fluid div.row nav.navbar {
    padding: 20px 20px 0 20px;
    background-color: #aa2bee;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100vh;
  }
  div.container-fluid div.row nav.navbar header {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 15px 0;
  }
  div.container-fluid div.row nav.navbar header h1 a {
    font-size: 3.3vw;
    color: white;
    text-decoration: none;
  }
  div.container-fluid div.row nav.navbar header h1 a:hover {
    color: black;
  }
  div.container-fluid div.row nav.navbar header h2:first-of-type {
    font-size: 1.8vw;
    color: black;
    font-style: italic;
  }
  div.container-fluid div.row nav.navbar header h2 + h4 {
    color: black;
    font-size: 1.2vw;
  }
  div.container-fluid div.row nav.navbar div.container {
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  div.container-fluid div.row nav.navbar div.container > a {
    color: black;
    font-size: 1.5vw;
  }
  div.container-fluid div.row nav.navbar div.container p {
    padding: 0 20px 0 20px;
    color: white;
    font-size: 1vw;
  }
  div.container-fluid div.row nav.navbar div.container div.collapse ul.navbar-nav {
    flex-direction: column;
  }
  div.container-fluid div.row nav.navbar div.container div.collapse ul.navbar-nav > li > a {
    color: white;
    font-size: 1.7vw;
  }
  div.container-fluid div.row nav.navbar div.container div.collapse ul.navbar-nav > li > a:hover {
    color: black;
  }
  div.container-fluid div.row main > p {
    font-size: 15px;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  body div.container-fluid div.row nav.navbar {
    flex-direction: row;
  }
  body div.container-fluid div.row nav.navbar header {
    padding: 15px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
  body div.container-fluid div.row nav.navbar header h1 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  body div.container-fluid div.row nav.navbar header h1 a {
    background-color: #e3aeff;
    font-size: 6vw;
    color: white;
    text-decoration: none;
    padding: 0 15px 0 15px;
  }
  body div.container-fluid div.row nav.navbar header h2 {
    background-color: #6e0ea2;
    font-size: 2.5vw;
    color: white;
    padding: 5px;
    width: 35vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  body div.container-fluid div.row nav.navbar header h4 {
    background-color: #aa2bee;
    color: white;
    font-style: italic;
    font-size: 2vw;
    padding: 5px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  body div.container-fluid div.row nav.navbar div.container {
    background-color: #f2dbff;
    padding: 5px;
  }
  body div.container-fluid div.row nav.navbar div.container > a {
    color: black;
  }
  body div.container-fluid div.row nav.navbar div.container p {
    display: none;
  }
  body div.container-fluid div.row nav.navbar div.container div#navbarColor01 ul li a {
    color: black;
    font-size: 2vw;
  }
}/*# sourceMappingURL=index.css.map */