$purple-dark: #6e0ea2;
$purple: #aa2bee;
$purple-light: #e3aeff;
$purple-MORE-light: #f2dbff;
$white: white; // relleno wacho, que miras?
$black: black;

@mixin theme($color){
    background: $color;
}

// herencia forzada :)
%main-prop { 
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 50px;
}

html {
    body {
        div.container-fluid {
            position: relative;
            display: flex;
            overflow-x: hidden;
            div.row {
                main {
                    @extend %main-prop 
                }
                footer {
                    position: absolute;
                    bottom: 0;
                    height: 50px;
                    padding-top: 16px;
                    text-align: center;
                    background: $purple-dark;
                    h6 {
                        color:$white;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    div.container-fluid {
        div.row {
            nav.navbar {
                position: fixed;
                top: 0;
                z-index: 1;
                flex-direction: column;
                height: 100vh;
                padding: 20px 20px 0 20px;
                header {
                    flex-direction: column;
                    margin: 0 0 15px 0 ;
                    align-items: flex-start;
                    h1 {
                        a {
                            font-size: 3.3vw;
                            color: $white;
                            text-decoration: none;
                        }
                        a:hover {color: $black;}
                    }
                    h2:first-of-type {
                        font-size: 1.8vw;
                        color: $black;
                        font-style: italic;
                    }
                    h2 + h4 {
                        font-size: 1.2vw;
                        color: $black;
                    }
                }
                div.container {
                    padding: 0;
                    flex-direction: column;
                    align-items: flex-start;
                    > a {
                        font-size: 1.5vw;
                        color: $black;
                    }
                    p {
                        padding: 0 20px 0 20px;
                        font-size: 1vw;
                        color: $white;
                    }
                    div.collapse {
                        ul.navbar-nav {
                            flex-direction: column;
                            > li {
                                > a {
                                    font-size: 1.7vw;
                                    color: $white;
                                }
                                > a:hover {
                                    color: $black;
                                }
                            }
                        }
                    }
                }
                @include theme($color: $purple)
            }
            main {
                > p {
                    font-size: 1.5vw;
                }
            }
            footer {
                position: fixed;
                bottom: 0;
                right: 0;
                width: max-content;
                padding: 0 40px 0 40px;
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 991px) {
    body {
        div.container-fluid {
            div.row {
                nav.navbar{
                    flex-direction: row;
                    header {
                        display: flex;
                        width: 100vw;
                        padding: 15px;
                        flex-direction: row;
                        align-items: center;
                        gap: 10px;
                        h1 {
                            width: max-content;
                            height: max-content;
                            a {
                                padding: 0 15px 0 15px;
                                font-size: 6vw;
                                color: $white;
                                text-decoration: none;
                                @include theme($color: $purple-light)
                            }
                        }
                        h2 {
                            height: max-content;
                            width: 35vw;
                            padding: 5px;
                            font-size: 2.5vw;
                            color: $white;
                            @include theme($color: $purple-dark)
                        }
                        h4 {
                            height: max-content;
                            width: max-content;
                            padding: 5px;
                            font-size: 2vw;
                            color: $white;
                            font-style: italic;
                            @include theme($color: $purple)
                        }
                    }
                    div.container {
                        padding: 5px;
                        > a {
                            color: $black;
                        }
                        p { display: none;}
                        div#navbarColor01 {
                            ul {
                                li {
                                    a {
                                    font-size: 2vw;
                                    color: $black;
                                    } 
                                }
                            }
                        }
                        @include theme($color: $purple-MORE-light)
                    }
                }            
            }
        }
    }
}
